:focus {outline: none;}
body {
	background: #272727;
	font-family: 'helvetica neue', arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #cecece;
	text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.8);
	margin: 0;
}
#site {
	background: #333;
}
#calculator {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 0 0.5em 0;
}
#calculator div {
	padding: 0.3em 0;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
h1 {
	text-align: center;
	line-height: 1em;
	padding: 0.5em 0;
	font-weight: 700;
	font-size: 2.4em;
	letter-spacing: -0.05em;
	color: #f8f8f8;
	margin: 0;
}
p {
	width: 96%;
	display: block;
	margin: 0 auto;
	font-weight: 400;
	text-align: center;
	line-height: 1.4em;
}
.labels span {
	font-style: normal;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 0.9em;
	position: relative;
	top: -0.1em;
	left: 0.3em;
}
label {
	font-weight: 700;
	padding: 0.5em;
	padding-left: 1.5em;
	display: block;
}
.labels, .fields {
	float: left;
	display: block;
}
.labels {
	clear: both;
	width: 55%;
}
.fields {
	width: 45%;
}
input {
	font-size: inherit;
	border: 1px solid #4e4e4e;
	background: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	font-family: inherit;
}
input[type=number] {
	width: 7em;
	margin-right: 2em;
	width: 5em;
	float: right;
	font-size: inherit;
	padding: 0.5em;
}
.result {
	clear: both;
	display: block;
}
.result span {
	width: 50%;
	display: block;
	margin: 0.5em auto;
	font-size: 2em;
	color: #fff;
	text-align: center;
}
.amounts {
	font-size: 1.5em;
	width: 8em;
	margin: 0 auto 1.5em auto;
}
.amounts span {
	display: block;
	width: 4em;
	text-align: center;
	float: left;
}
span.tip {
	color: #00B3FF;
}
span.tax {
	color: #FF9D00;
}
footer {
	box-shadow: inset 0px 7px 7px rgba(0,0,0,0.2);
}
#tinacious {
	clear: both;
	margin: 0 auto;
	width: 19em;
	font-size: 0.8em;
	padding: 2em 0;
}
#tinacious p {
	float: left;
	padding: 0.7em 0 0 0;
	margin: 0;
	display: block;
	width: 15em !important;
}
#tinacious img {
	float: left;
	display: block;
	width: 40px;
}
#tinacious a {
	color: #fff;
	text-decoration: none;
}